body {
  background-color: lightgrey;
}
.esg .pullquote {
  width:75%;
  background-color:#99DDFF;
    padding:3px 10px 3px 10px;
  border-radius:8px;
  margin-left:auto;
  margin-right:auto;
}
.attribution {
  
}

.esg table {
  margin-left:auto;
  margin-right: auto;
}
.esg table a {
  color:black;
}

.esg td {
  width:100px; 
  border:1px solid white;
  border:collapse: collapse;
  border-radius: 2px;
  border:5px solid #01A813;
  background-color: #01A813;
  vertical-align:center;
  padding: 1px;
  text-align: center;
  
  }
.esg table td:first-child {
    width:200px;
   font-weight:bold;  
  text-align:left;
}

.esg table td:first-child:hover {
  color:black;
}

.esg table td:hover, .esg table a:hover {
  color:white;
}
.esg a:hover, .esg a:visited, .esg a:link, .esg a:active {
   text-decoration:none;
}

