body {
  background-color: lightgrey;
}
.esg .pullquote {
  width:65%;
  background-color:#99DDFF;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius:8px;
  margin-top:15px;
  margin-left:50px;
  display:block;
}
.attribution {
  font-weight:bold;
}

div.image img {
  width:none;
}

div.image {
  width: 100%;
  margin-left:auto;
  margin-right: auto; 
  margin-top:10px;
  padding-top:10px;
}

.esg table {
  margin-left:auto;
  margin-right: auto;
}
.esg table a {
  color:black;
}

.esg td {
  width:100px; 
  border:1px solid white;
  border:collapse: collapse;
  border-radius: 2px;
  border:5px solid #01A813;
  background-color: #01A813;
  vertical-align:center;
  padding: 1px;
  text-align: center;
  
  }

.esg table td.active {
  font-weight: bold;
  
}
.esg table td:first-child {
    width:200px;
   font-weight:bold;  
  text-align:left;
}

.esg table td:first-child:hover {
  color:black;
}

.esg table td:hover, .esg table a:hover {
  color:white;
}
.esg a:hover, .esg a:visited, .esg a:link, .esg a:active {
   text-decoration:none;
}

