/*

*/
	body {
		font-family: sans-serif;
		font-weight: light;
		font-size: 10px;		
		line-height: 100%;
		}		


	.hed {
		font-size: 125%;
		width: 100%;
		padding: 10,0,10,0;
		color: white;
		background-color: grey;
		text-align: left;	
		line-height: 100%;
		}
				
	.dek {
		font-size: 120%;
		opacity: 0.9;
		fill: black;
		font-family: sans-serif;	
		dy: 0em;	
		}

	.title {
		font-size: 170%;
		text-anchor: start;
		font-family: sans-serif;
		font-weight: light;	
		dy: 0em;	
		fill: black;
		}

	.viz {
		width: 100%;
		float: left;
		padding: 10, 0, 10, 0;		
		}
		
	.key div {
		float: left;
		padding: 5px;		
		display: inline;
		}
		
	.key span {
		font-family: sans-serif;
		font-weight: bolder;
		fill : white;
		display: inline;
		}	
								
	.axis text {
		font-family: sans-serif;
		font-size: 8px;
		font-weight: lighter;
		fill: black;
		text-anchor: start;
	}	
	
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	.posRect {
		fill: steelblue;		
		}
	
	.negRect {
		fill: orange;		
		}
		
		
	
