/*

*/
	body {
		text-align: right;
		font-family: sans-serif;
		font-weight: light;
		font-size: 10px;		
		overflow:hidden;	
		line-height: 100%;
		}		


	.hed {
		font-size: 50%;
		width: 100%;
		padding: 10,0,10,0;
		color: lightgrey;
		background-color: grey;
		text-align: left;	
		line-height: 100%;
		}
		
	.dek {
		font-size: 150%;
		opacity: 0.5;
		fill: black;
		font-family: monospace;	
		dy: 0em;	
		}
			
	.key  {
		width: 100%;
		color:white;
		float: left;
		background-color: white;
		padding: 10,0,10,0;		
		}
		
		.key div {
			float: left;
			padding: 5px;
			margin: 5px;
			border-color: white;
			width: auto;					
			}
			
			.buttOn {
				color: white;
				opacity: 1;	
				font-weight: bold;
				
				}
		
			.buttOff {
				opacity: 0.3;
				font-weight: light;	
				}
	.viz {
		width: 100%;
		float: left;
		padding: 10, 0, 10, 0;		
		background-color: ivory;
		}
		
				
	.axis text {
		font-family: sans-serif;
		font-size: 14px;
		font-weight: lighter;
		fill: black;
		text-anchor: start;
	}	
	
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	.pathOff {
		fill: none;
		stroke-width: 0px;
		opacity:0.5;
		}
	.pathRest {
		fill: none;
		stroke-width: 1px;
		opacity: 0.1;	
		stroke: lightgrey;	
		}	
		
