/*

Page:
HED DIV
	h3
	full-width
KEY DIV
	full-width
	includes all languages as separate divs
LETTERS DIV
	split into infinite horizontal divs
		width set by d3 as a percentage of page
		a label hed at the top of each (full width)
		a ul to hold letters (full width)
			li for each letter within the ul

*/
	body, html{
		font-family: arial, sans-serif;
		}

	.hed {
		font-size: 400%;
		width: 100%;
		padding: 10,0,10,0;
		color: lightgrey;
		background-color: grey;
		text-align: left;	
		line-height: 100%;
		}
			
	.key  {
		width: 100%;
		float: left;
		background-color: lightgrey;
		padding: 10,0,10,0;		
		}
		
		.key div {
			float: left;
			padding: 5px;
			margin: 5px;
			border-color: white;
			width: auto;					
			}
			
			.buttOn {
				color: white;
				opacity: 1;	
				font-weight: bold;
				
				}
		
			.buttOff {
				opacity: 0.3;
				font-weight: light;	
				}
	.viz {
		width: 100%;
		float: left;
		padding: 10, 0, 10, 0;		
		background-color: ivory;
		}
		
		.barCon {
			text-anchor: end;
			width: 100%;
			margin: 10,0,10,0;
			background-color: lightgrey;
			display: block;
			}
		
			.labelCon {
				width: 30%;				
				background-color: lightgrey;;		
				float: left;
				}
				body {
					text-align: right;
					font-family: sans-serif;
					font-weight: light;
					font-size: 10px;		
					overflow:hidden;	
					line-height: 100%;
					}		
			.bars {
				width: 70%;				
				float: right;
				background-color: lightgrey;
				}		
			
		.hiddenColumn {
			display:none;
			}
		
			.label {
				font-weight: bolder;
				font-size: 80%;
				padding: 10,0,10,0;						
				}
			.letters {
				background-color: none;	
				display: block;	
				}
				
	.axis text {
		font-family: sans-serif;
		font-size: 10px;
		font-weight: lighter;
		fill: black;
		text-anchor: start;
	}	
	
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	.path {
		fill: none;
		stroke: purple;
		stroke-width: 2px;
		opacity:0.5;
		}
