/*

*/
	body {
		text-align: right;
		font-family: sans-serif;
		font-weight: light;
		font-size: 10px;		
		overflow:hidden;	
		line-height: 100%;
		}		


	.hed {
		font-size: 125%;
		width: 100%;
		padding: 10,0,10,0;
		color: white;
		background-color: grey;
		text-align: left;	
		line-height: 100%;
		}
		
	.box {
		float: left;		
		}	
		
	.dek {
		font-size: 150%;
		opacity: 0.5;
		fill: black;
		font-family: monospace;	
		dy: 0em;	
		}

	.title {
		font-size: 140%;
		text-anchor: start;
		font-family: sans-serif;
		font-weight: bolder;	
		dy: 0em;	
		}

	.viz {
		width: 100%;
		float: left;
		padding: 10, 0, 10, 0;		
		}
		
				
	.axis text {
		font-family: sans-serif;
		font-size: 10px;
		font-weight: lighter;
		fill: black;
		text-anchor: start;
	}	
	
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.axis path {
	  fill: none;
	  stroke: none;
	  shape-rendering: crispEdges;
	}

	
	.pathOff {
		fill: none;
		stroke-width: 2px;
		opacity: 1;
		}
	.pathRest {
		fill: none;
		stroke-width: 1px;
		opacity: 0.1;	
		stroke: lightgrey;	
		}	
	.recession {
		fill: lightgrey;
		opacity: 0.3;		
		}
