/*	HTML5 ✰ Boilerplate	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,	footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
 /* Sets font-size to be roughly 10px. Easy baseline for em */
    line-height: 1;
    color: #000;
    overflow-x: hidden;
    position: relative;
    background-color: #FFFFFF !important;
}

body.debug {
    background-image: url('grid_bg.jpg');
}

select, input, textarea, button {
    font: 99% sans-serif;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

body, select, input, textarea {
    color: #333;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

/* WSJ styles */
a:link, a:visited, a {
    color: #093d72;
}

a:active {
    color: #093d72;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #c74b15;
}

a:active {
    outline: none;
}

a:link {
    -webkit-tap-highlight-color: #093d72;
} 

/*==============*/

ul, ol {
    margin-left: 1.8em;
}

ol {
    list-style-type: decimal;
}

nav ul, nav li {
    margin: 0;
}

small {
    font-size: 85%;
}

strong, th {
    font-weight: bold;
}

td, td img {
    vertical-align: top;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

textarea {
    overflow: auto;
}

.ie6 legend, .ie7 legend {
    margin-left: -7px;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

button, input, select, textarea {
    margin: 0;
}

input:valid, textarea:valid {;
}

input:invalid, textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}

button {
    width: auto;
    overflow: visible;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

 /* ====== Primary Styles ==============
	Author: Keegan - added on 11/16/2010
	
	Let's build this area out for the parts we need, plucked from the site's HTML modules where applicable
 */

body h1 {
   /* font-family: "kulturista-web-1", "kulturista-web-2", Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;*/
    font-family: 'Dispatch', Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight:normal;
    font-size: 2.8em;
    line-height: 1.1075em;
    width: auto;
    margin: 0px 0px 8px 8px;
    padding-left: 0px;
    }

body p {
    font-size: 1.3em;
    line-height: 1.5em;
    display: block;
    margin-left: 8px;
}

body h2.subhead {
    font: italic normal normal 1.6em/1.1 Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-top: 6px;
    text-transform: none;
    width: 668px;
    display: block;
    color: #333;
    margin-left: 8px;
}

@media all and (orientation:portrait) {}

@media all and (orientation:landscape) {}

@media screen and (max-device-width: 480px) {
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */;
}

@media print {
    * {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }

    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    a:after {
        content: " (" attr(href) ")";
    }

    abbr:after {
        content: " (" attr(title) ")";
    }

    .ir a:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }
	@    page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}

/*Colors*/
.wsj-black-text{
	color:#333333;
}
.wsj-black-bg{
	background-color:#333333;
}
.wsj-blue-text{
	color:#093d72;
}
.wsj-blue-bg{
	background-color:#093d72;
}
.wsj-ltblue-text{
	color:#7da4cd;
}
.wsj-ltblue-bg{
	background-color:#7da4cd;
}
.wsj-orange-text{
	color:#c74b15;
}
.wsj-orange-bg{
	background-color:#c74b15;
}
.wsj-yellow-text{
	color:#ffda00
}
.wsj-yellow-bg{
	background-color:#ffda00;
}
.wsj-red-text{
	color:#c72535;
}
.wsj-red-bg{
	background-color:#c72535;
}
.wsj-green-text{
	color:#00955d;
}
.wsj-green-bg{
	background-color:#00955d;
}

@font-face {
  font-family: 'Glyphicons';
  src: url('fonts/glyphicons-regular.eot');
  src: url('fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-regular.woff') format('woff'), url('fonts/glyphicons-regular.ttf') format('truetype'), url('fonts/glyphicons-regular.svg#glyphicons_halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**************** 

Dispatch

****************/

.dispatchblack { font-family:"Dispatch Black", Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:400; }
.dispatchbold { font-family:Dispatch, Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:700; }
.dispatchcondensedblack { font-family:"Dispatch Cond Black", Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:400; }
.dispatchcondensedbold { font-family:"Dispatch Cond", Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:700; }
.dispatchcondensedlight { font-family:"Dispatch Cond Light", Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:400; }
.dispatchcondensedregular { font-family:"Dispatch Cond", Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:400; }
.dispatchlight { font-family:"Dispatch Light", Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:400; }
.dispatchregular { font-family:Dispatch, Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif; font-style:normal; font-weight:400; }

/**************** 

Escrow

****************/

.escrowbold { font-family:Escrow; font-style:normal; font-weight:700; }
.escrowbolditalic { font-family:Escrow; font-style:italic; font-weight:700; }
.escrowcondbold { font-family:"Escrow Cond"; font-style:normal; font-weight:700; }
.escrowcondbolditalic { font-family:"Escrow Cond"; font-style:italic; font-weight:700; }
.escrowitalic { font-family:Escrow; font-style:italic; font-weight:400; }
.escrowlight { font-family:"Escrow Light"; font-style:normal; font-weight:400; }
.escrowlightitalic { font-family:"Escrow Light"; font-style:italic; font-weight:400; }
.escrowroman { font-family:Escrow; font-style:normal; font-weight:400; }
.escrowsemibold { font-family:"Escrow Semibold"; font-style:normal; font-weight:400; }
.escrowsemibolditalic { font-family:"Escrow Semibold"; font-style:italic; font-weight:400; }

/**************** 

Old Stainless

****************/

.oldstainlessblack { font-family:"OLDStainless Black"; font-style:normal; font-weight:400; }
.oldstainlessblackitalic { font-family:"OLDStainless Black"; font-style:italic; font-weight:400; }
.oldstainlessbold { font-family:OLDStainless; font-style:normal; font-weight:700; }
.oldstainlessbolditalic { font-family:OLDStainless; font-style:italic; font-weight:700; }
.oldstainlesslight { font-family:"OLDStainless Light"; font-style:normal; font-weight:400; }
.oldstainlesslightitalic { font-family:"OLDStainless Light"; font-style:italic; font-weight:400; }
.oldstainlessregular { font-family:OLDStainless; font-style:normal; font-weight:400; }
.oldstainlessregularitalic { font-family:OLDStainless; font-style:italic; font-weight:400; }
.stainlessthin { font-family:"Stainless Thin"; font-style:normal; font-weight:400; }


















